<h1>Admin</h1>

<form action="/pages" method="POST">
    <input type="text" name="webinarName" placeholder="Webinar Name">
    <input type="text" name="webinarDate" placeholder="Webinar Date">
    <input type="text" name="webinarTime" placeholder="Webinar Time">
    <button type="submit">Submit</button>
</form>