<div class="col intro">
      
        <div class="section--card">
            <h1>WE BELIEVE IN CHALLENGING THE STATUS QUO!</h1><br>
            <p>A manager accepts, the leader challenges...</p>
            <div id="success"></div>
        </div>

</div>


        
        <!--eBook-->
        <!-- <section id="ebkMod" class="ebk">
            <div class="ebk-content">
                <span class="ebkCls">&times;</span>
                <h2>Download our latest eBook<h2>
                    <p>"Change Is Inevitable, Growth Is Optional"</p>
                    <form action="includes/main.inc.php" method="POST">
                        <input type="text" name="ebookName" placeholder="Name..." required/>
                        <input type="text" name="ebookEmail" placeholder="Email..." required/>
                        <button type="submit" name="ebook-submit">SUBMIT</button>  
                    </form>        
            </div>
        </section> -->

        <!--About-->
        <!-- <section id="abtMod" class="abt">
            <div class="abt-content">
                <span class="abtCls">&times;</span>
                <h2>About ARC Support Services</h2> 
                <p>ARC Support Services is run by James Clifford, MIMI, who has worked in the industry since 1975.</p>
                <p>
                    In ARC Support Services Ltd, we are building a company that we'd like to do business with, ourselves. 
                    Through support and outstanding experiences, we want ARC Support Services, 
                    to be a company that's human, respectful, transparent, inclusive, 
                    socially and environmentally conscious and using our skills and contacts, 
                    develop and grow sustainable, profitable businesses, for our clients through sound process, 
                    engineering excellence and high level customer service
                </p>

                <p>Accident Repair Center Management, Business Development & Acceleration.</p>

                <p>Fully versed in Industry Quality Standards</p>

                <p>Specialties:</p>
                <ul>  
                    <li>Vehicle Damage Assessor Development;</li>
                    <li>Damage Assessing Profitably Analysis,</li>
                    <li>New Business Development Consultant, Finance Reporting,</li>
                    <li>Profit Health Check</li>
                    <li>Bodyshop Management</li>
                    <li>Dealership Genral Manager</li>
                    <li>BS10125</li>
                    <li>Quaulty Standards</li>
                    <li>Organisation & Management Strategies, Coaching & Mentoring</li>
                    <li>Process Audits</li>
                </li>
            </div>
        </section> -->

        <!--Contact-->
        <!-- <section id="conMod" class="con">
            <div class="con-content">
                <span class="conCls">&times;</span>
                <h2>Contact ARC Support Services</h2> 
                <p>Email: james@arcsupportservices.co.uk</p>
                <p>Tel: +44 7956 202 722</p>
                <form action="includes/main.inc.php" method="POST">
                    <input type="text" name="comName" placeholder="Name...">
                    <input type="text" name="comEmail" placeholder="Email...">
                    <textarea name="comMsg" placeholder="Message..."></textarea>
                    <button type="submit" name="comment-submit">SUBMIT</button>   
                </form>             
            </div>
        </section> -->
