<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ac3ba74ae6.js" crossorigin="anonymous"></script>
    <title>ARC Support Services</title>
</head>
<body>
    
    <!--Header/ Navbar-->
    
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <img src="/assets/new_arc_logo.png" alt="ARC Support Services" class="nav-logo">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>


      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
                <div class="card-body">

                <h4>JAMES CLIFFORD</h4>
                <h4>Tel: +44 (0)1472 840 120</h4>
                <h4>Email: james@arcsupportservices.co.uk</h4>
</div>
</div>
        </div>
        <div class="col-8">
            <section class="intro">
                <h1>WE BELIEVE IN CHALLENGING THE STATUS QUO!</h1><br>
                <p>A manager accepts, the leader challenges...</p>
                <div id="success"></div>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col">
            1 of 3
          </div>
          <div class="col">
            <section>
                <p>Download our latest eBook<br>
                    "Change Is Inevitable, Growth Is Optional"</p>
                    <button id="ebkBtn"><i class="fas fa-book"></i> Free eBook</button>
            </section>
          </div>
          <div class="col">
            3 of 3
          </div>
        </div>
      </div>

<div class="grid">
    
    <!--Main Body-->
    <main>


            <section class="social">
                <a href="https://www.facebook.com/arcsupportservices/" target="_blank"> <i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/ARCSupport" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/james-clifford-vda-imi-mimi-15ba1b25/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://instagram.com/arcsupport?igshid=525d636u8bhj" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/user/ARCSupport/" target="_blank"><i class="fab fa-youtube"></i></a>
            </section>

    </main>
</div>

    <!--eBook-->
    <!-- <section id="ebkMod" class="ebk">
        <div class="ebk-content">
            <span class="ebkCls">&times;</span>
            <h2>Download our latest eBook<h2>
                <p>"Change Is Inevitable, Growth Is Optional"</p>
                <form action="includes/main.inc.php" method="POST">
                    <input type="text" name="ebookName" placeholder="Name..." required/>
                    <input type="text" name="ebookEmail" placeholder="Email..." required/>
                    <button type="submit" name="ebook-submit">SUBMIT</button>  
                </form>        
        </div>
    </section> -->

    <!--About-->
    <!-- <section id="abtMod" class="abt">
        <div class="abt-content">
            <span class="abtCls">&times;</span>
            <h2>About ARC Support Services</h2> 
            <p>ARC Support Services is run by James Clifford, MIMI, who has worked in the industry since 1975.</p>
            <p>
                In ARC Support Services Ltd, we are building a company that we'd like to do business with, ourselves. 
                Through support and outstanding experiences, we want ARC Support Services, 
                to be a company that's human, respectful, transparent, inclusive, 
                socially and environmentally conscious and using our skills and contacts, 
                develop and grow sustainable, profitable businesses, for our clients through sound process, 
                engineering excellence and high level customer service
            </p>

            <p>Accident Repair Center Management, Business Development & Acceleration.</p>

            <p>Fully versed in Industry Quality Standards</p>

            <p>Specialties:</p>
            <ul>  
                <li>Vehicle Damage Assessor Development;</li>
                <li>Damage Assessing Profitably Analysis,</li>
                <li>New Business Development Consultant, Finance Reporting,</li>
                <li>Profit Health Check</li>
                <li>Bodyshop Management</li>
                <li>Dealership Genral Manager</li>
                <li>BS10125</li>
                <li>Quaulty Standards</li>
                <li>Organisation & Management Strategies, Coaching & Mentoring</li>
                <li>Process Audits</li>
            </li>
        </div>
    </section> -->

    <!--Contact-->
    <!-- <section id="conMod" class="con">
        <div class="con-content">
            <span class="conCls">&times;</span>
            <h2>Contact ARC Support Services</h2> 
            <p>Email: james@arcsupportservices.co.uk</p>
            <p>Tel: +44 7956 202 722</p>
            <form action="includes/main.inc.php" method="POST">
                <input type="text" name="comName" placeholder="Name...">
                <input type="text" name="comEmail" placeholder="Email...">
                <textarea name="comMsg" placeholder="Message..."></textarea>
                <button type="submit" name="comment-submit">SUBMIT</button>   
            </form>             
        </div>
    </section> -->

    <script src="js/main.js"></script>
</body>
</html>