<div class="col">
      
    <div class="section--card">
        <h1>Our Partners</h1>

        

 <% partners.forEach(p => { %>
    <div style="border: 1px solid red">
        <div><%=p.partnerCompany %></div>
        <div><%=p.partnerEmail %></div>
        <div><%=p.partnerPhone %></div>
        <div><%=p.partnerWebsite %></div>
    </div>
 <% }) %>
        
    </div>

</div>