<section class="flex-col">
    <p>Sign up to our webinar:</p>
    <h1><%= webinarName %> </h1>
    <p>Date: <%= webinarDate %> </p>
    <p>Time: <%= webinarTime %></p>
    <a href="https://fs17.formsite.com/James386/m6cps4oasr/index.html"><button id="ebkBtn"><i class="fas fa-book"></i> REGISTRATION</button></a>
    <!-- <h1>REGISTRATION IS NOW CLOSED.</h1>
    <P>Please check again soon for further webinars.</P> -->
</section>