:root {
    --card-clr: rgba(0, 0, 0, 0.5);
    --text-clr-pri: rgb(240, 240, 240);
    --text-clr-sec: rgb(255, 255, 0);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Play', sans-serif;
    box-sizing: border-box;
}

    body {
        height: 100%;
        width: 100%;
        background-image: url(/assets/background4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        background-attachment: fixed;
    }
    .container {
        background-color: var(--card-clr);
        max-width: 1200px;
        height: 100vh;
    }

    .navbar {
        position: static;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .nav-logo {
        margin-top: 1rem;
        align-items: 0 auto;
        width: 150px;
    }

    .section--card {
        padding: .25rem;
        word-wrap: break-word;
    }

   
    .intro {
        margin-top: 30rem;
        text-align: center;
    }
    
    .intro h1, p {
        color: var(--text-clr-pri);
    }
    
    .profile {
        margin-top: 30rem;
        text-align: center;
    }

    .profile h4 {
        color: var(--text-clr-sec);
        font-size: 10px;
    }
    @media screen and (min-width: 500px) {
        .profile h4{
            font-size: 18px;
        }
    }
/*BUTTONS*/
    .fa {
        padding: .5rem;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border: 1px solid var(--text-clr-sec);
        border-radius: 5px;
        background: transparent;
        color: var(--text-clr-sec);
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      